<table class="table table-bordered table-hover">
 <thead>
          <tr>
            <td>Categoria</td>
            <td>Nome</td>
            <td>Cidade</td>
            <td>Descrição</td>
            <td>Locais de entrega</td>
            <td>Telefone</td>
            <td>Celular</td>
            <td colspan="1"></td>
             <td colspan="1"></td>
          </tr>
        </thead>
<tbody>
  <%= render "servico"%>
</tbody>
</table>
