      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>      
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Nome</td>
            <td>Cidade</td>
            <td>Descrição</td>
            <td>Local de entrega</td>
            <td>Telefone</td>
            <td>WhatsApp</td>
            <td colspan="1"></td>
             <td colspan="1"></td>
          </tr>
        </thead>
        <tbody>
          <%= render @servicos %>
         
        </tbody>
      </table>
      <%= link_to 'Novo Serviço', new_servico_path, class:'btn btn-default' %>
