<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Nome</td>
            <td>Cidade</td>
            <td>Descrição</td>
            <td>Local de entrega</td>
            <td>Telefone</td>
            <td>WhatsApp</td>
            <td colspan="1"></td>
            <td colspan="1"></td>
          </tr>
        </thead>
        <tbody>
          <%= render @servicos_por_grupo %>
        </tbody>
      </table>

<!--<%= link_to 'Editar', edit_grupo_path(@grupo), class:"btn btn-default" %>--> 
<%= link_to 'Voltar', grupos_path, class:"btn btn-default"  %>
